<h1>Index page</h1>

<% if current_user %>
  Signed in as <%= current_user.email %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>


<% @posts.each do |p| %>
  <h3><%= p.title %></h3>
  <p><%= p.content %></p>
  <% if current_user %>
    <%= link_to 'Edit', edit_post_path(p) %>
    <%= link_to 'Delete', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
<% end %>
